<%# <nav class="navbar">
  <ul class="nav-links">
    <div class="menu">
      <li><a href="#">What we do</a></li>
      <li><a href="/products">Shop sauce</a></li>
      <li class="services"><a href="#">more</a></li>
      <li class="services"><a href="/orders">orders</a></li>
    </div>
  </ul>
  <div class="logo">HM</div>
</nav> %>
<% orders = Order.where(user: current_user) %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "https://cdn-icons-png.flaticon.com/512/119/119382.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "/", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Products", "/products", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <% if current_user.orders.last == nil %>
              <%= link_to "Basket", nobasket_path, class: "nav-link" %>
            <% else %>
              <%= link_to "Basket", order_path(orders.last), class: "nav-link" %>
            <% end %>
          </li>

          <li class="nav-item dropdown">
            <%= image_tag "https://pbs.twimg.com/profile_images/1491949205308338181/gQ3o6RCH_400x400.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

            <% if current_user %>
              <% if current_user.admin == true %>
                <%= link_to "Add Sauce", "products/new", class: "dropdown-item" %>
              <% end %>
            <% end %>

              <%= link_to "My Orders", "/orders/", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data:{ turbo_method: :delete }, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
