<%# <% sum = 0 %>
<div class="container">
  <h1 class = "mt-5 mb-3">My Basket</h1>
  <div class="headings d-flex justify-content-between">
    <h2>Order ID: <%= @order.id %></h2>
  </div>
  <hr>
  <% # LOOPING THROUGH ORDER_PRODUCTS AND SHOWING DETAILS THEREIN %>
  <% @order_products.each do |order_product| %>
    <div class="card-product my-3">
      <div class="card-product-infos">
        <p><%= link_to order_product.product.name, product_path(order_product.product_id) %></p>
        <p>By <%= order_product.product.manufacturer %></p>
        <br>
        <p>Qty:</p>
        <br>
        <div class="qty-bar d-flex justfiy-content-bweteen">
          <%= simple_form_for [order_product.product, order_product] do |f|%>
            <%= f.button :submit, "-", class:"btn btn-primary" %>
          <%# <%= f.hidden_field :change, value: "down" %>
          <% end %>
          <p><%= order_product.qty %></p>
          <%= simple_form_for [order_product.product, order_product] do |f|%>
            <%= f.button :submit, "+", class:"btn btn-primary" %>
          <%# <%= f.hidden_field :change, value: "up" %>
          <% end %>
        </div>
        <br>
        <p>Price: <%= price = order_product.qty * order_product.product.price %></p>
        <br>

        <%# <% sum += price %>

        <%= link_to order_product_path(order_product), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-primary" do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
        <br>
        <br>
      </div>
      <%= cl_image_tag order_product.product.photo.key %>
    </div>
  <% end %>
    <%# Total price: <%= sum %>
  <h2>Total price: <%= @order.amount %></h2>

  <%= form_tag checkouts_path do %>
    <%= hidden_field_tag 'order_id', @order.id %>
    <div class="bottom-row d-flex justify-content-between">
      <%= submit_tag 'Checkout', class: 'btn btn-primary my-3' %>
      <% end %>
      <%= link_to "Want some more?", products_path%>
    </div>
</div>
