<!-- app/views/checkouts/show.html.erb -->
<div class="container">
  <div class="row py-5">
    <%# <div class="col-md-3"><%= image_tag @checkout.teddy.photo_url, width: '100%' %>
    <div class="col">
      <h1 class="pb-3">SUCCESS</h1>
      <hr>
      <ul class="list-unstyled">
        <li><p><strong>PURCHASE DATE:</strong> <%= @checkout.created_at.to_date %></p></li>
        <li><p><strong>ORDER #:</strong> <%= @checkout.order.id %></p> </li>
        <li><p><strong>YOUR SAUCES:</strong></p></li>
        <% @checkout.order.products.each do |product| %>
          <li><p> <%= product.name %> </p></li>
        <% end %>
        <li class="py-3"><p><strong>TOTAL:</strong> <%= humanized_money_with_symbol @checkout.amount_cents %></p></li>
        </li>
      </ul>
      <p>Estimated delivery in <strong>2 business days</strong></p>
      <p>Why not come back when you've tried the sauce and leave a review?</p>
    </div>
  </div>
</div>
