<div class="form-group mt-3">
  <%= simple_form_for product do |f| %>
    <%= f.input :name %>
    <%= f.input :manufacturer %>
    <%= f.input :description %>
    <%= f.input :ingredients %>
    <%= f.input :bottle_size %>
    <%= f.input :price %>
    <%= f.button :submit, class:"btn btn-primary" %>
  <% end %>
</div>
