<div class="container" data-controller = "filter-products">
  <h1 class="mt-5 mb-3">Our Sauces</h1>
  <%= form_tag products_path, method: :get, class: "d-flex pb-3", html: { data: {
        filter_products_target:"form"}} do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a sauce"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <%# <button class = "btn btn-light" data-filter-products-target = "filter" %>
  <%# data-action = "click->filter-products#show">Filter <i class="fa-solid fa-chevron-down"></i></button> %>
  <div class="filter d-flex justify-content-around my-4">
    <%= link_to "All", products_path, class:"btn btn-primary" %>
    <button class = "btn btn-primary" data-filter-products-target = "pill" data-action = "click->filter-products#filtration">North America</button>
    <button class = "btn btn-primary" data-filter-products-target = "pill" data-action = "click->filter-products#filtration">South America</button>
    <button class = "btn btn-primary" data-filter-products-target = "pill" data-action = "click->filter-products#filtration">South East Asia</button>
    <button class = "btn btn-primary" data-filter-products-target = "pill" data-action = "click->filter-products#filtration">Europe</button>
    <button class = "btn btn-primary" data-filter-products-target = "pill" data-action = "click->filter-products#filtration">Middle East</button>
    <button class = "btn btn-primary" data-filter-products-target = "pill" data-action = "click->filter-products#filtration">Africa</button>

  </div>
  <%= render "list", products: @products %>
  <% if current_user.admin == true %>
  <%= link_to "Create Sauce", new_product_path, class:"btn btn-primary" %>
  <% end %>
</div>
