<div class="container">
  <h1 class="m-5">Our Sauces</h1>
  <div class="grid pb-3">
    <% @products.each do |product| %>
      <%= link_to product_path(product) do %>
      <div class="card-trip">
        <img src="//cdn.shopify.com/s/files/1/2086/9287/products/NuggetHoney11.jpg?v=1616537010&width=680" alt="">
          <div class="card-infos">
            <div class="card-title p-3">
              <h2><%= product.name %> | <%= product.manufacturer %></h2>
            </div>
            <div class="p-3 d-flex justify-content-between flex-end">
              <%# <%= link_to "Learn More", product_path(product) %>
              <p>£<%= product.price %></p>
            </div>
          </div>
      </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to "Create Sauce", new_product_path, class:"btn btn-primary" %>
</div>
