<div class="container">
  <div class="show-conteent d-flex justify-content-between pt-5">
    <div class="show-card">
      <h1><%= @product.name %></h1>
      <p><strong>By:</strong> <%= @product.manufacturer %></p>
      <div class="form-group mt-3">
        <%= simple_form_for [@product, @order_product] do |f| %>
          <%= f.button :submit, "Add to Basket", class:"btn btn-primary" %>
        <% end %>
      </div>
      <br>
      <p><%= @product.description %></p>
      <p><strong>Ingredients: </strong><%= @product.ingredients %></p>
      <p><strong>Size:</strong> <%= @product.bottle_size %></p>
      <p><strong>Price:</strong> £<%= @product.price %></p>

      <p><strong>Review this product</strong></p>
      <%= simple_form_for [@product, @review] do |f| %>
        <%= f.input :content, as: :text %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate The Sauce" %>
        <%= f.submit "Submit" %>
      <% end %>
    </div>
    <div class="show-img">
      <%= cl_image_tag @product.photo.key %>
    </div>
  </div>
  <p class="py-3"><strong>Reviews</strong></p>
  <% @product.reviews.each do |review| %>
    <p>Reviewed by: <%= review.user.first_name %></p>
    <p>They said: <%= review.content %></p>
    <p><%= review.rating %>/5</p>
  <% end %>
  <%= link_to "All Sauces", products_path, class:"btn btn-primary"%>
  <%= link_to "Edit Sauce", edit_product_path(@product), class:"btn btn-primary"%>
  <%= link_to "Delete Sauce", product_path(@product), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this product?"}, class:"btn btn-primary"%>
</div>
